.widget-languge-multi {
    display: flex;
    justify-content: center;
    align-items: center;

    .align-items-center {
        display: flex;

        .title-language {
            padding-left: 5px;
            font-size: 10pt;
        }
    }
}

.p-dropdown-panel {
    .p-dropdown-items {
        .p-dropdown-item {
            .align-items-center {
                display: flex !important;

                .title-language {
                    padding-left: 5px;
                }
            }
        }
    }
}